body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: rgba(52, 57, 66, 0.336);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #007bff;
    text-align: center;
  }
  
  .task-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .task-form input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
  }
  
  .task-form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .task-form button i {
    margin-right: 5px;
  }
  
  .task-form button:hover {
    background-color: #0056b3;
  }
  
  .task-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(248, 249, 250, 0.8);
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  .task-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .task-text {
    flex: 1;
  }
  
  .delete-btn {
    background-color: transparent;
    color: #dc3545;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .delete-btn:hover {
    color: #c82333;
  }